/*TDS TASK LIST*/

@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

body {
  font-family: 'Montserrat', sans-serif;

  color: #404040;
  background: #f2f2f2;
}
.items {
  width: 100%;
  margin: 5px auto;

  border: 1px solid #cdd3d7;
  border-radius: 4px;
  background: white;
  -webkit-box-shadow: 0 1px 2px 1px rgba(204, 204, 204, .5);
     -moz-box-shadow: 0 1px 2px 1px rgba(204, 204, 204, .5);
          box-shadow: 0 1px 2px 1px rgba(204, 204, 204, .5);
}

.items-header {
  line-height: 24px;

  position: relative;

  padding: 7px 15px;

  color: #5d6b6c;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 3px 3px 0 0;
  background: #f0f1f2;
  background-image: -webkit-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image:    -moz-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image:      -o-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image:         linear-gradient(to bottom, #f5f7fd, #e6eaec);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, .5), 0 1px rgba(0, 0, 0, .03);
          box-shadow: inset 0 1px rgba(255, 255, 255, .5), 0 1px rgba(0, 0, 0, .03);
  text-shadow: 0 1px rgba(255, 255, 255, .7);
}

.items-title {
  font-size: 14px;
  font-weight: bold;
  line-height: inherit;

  color: inherit;
}

.items-lists {
  font: 0/0 serif;

  position: absolute;
  top: 50%;
  right: 10px;

  width: 19px;
  height: 3px;
  margin-top: -11px;
  padding: 10px 4px;

  color: transparent;
  text-shadow: none;
}

.items-lists:before {
  display: block;

  height: 3px;

  content: '';

  border-radius: 1px;
  background: #8c959d;
  -webkit-box-shadow: 0 6px #8c959d, 0 -6px #8c959d;
          box-shadow: 0 6px #8c959d, 0 -6px #8c959d;
}

.items-list-item {
  line-height: 24px;

  display: block;

  padding: 12px 15px;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.items-list-item:hover {
  background-color: #fafafa;
}

.items-list-item + .items-list-item {
  border-top: 1px solid #f0f2f3;
}

.items-list-cb {
  display: none;
}

.items-list-mark {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-right: 5px;

  vertical-align: top;

  border: 2px solid #c4cbd2;
  border-radius: 12px;
}

.items-list-mark:before {
  position: absolute;
  top: 20%;
  left: 50%;

  display: none;

  width: 18px;
  height: 9px;
  margin: -3px 0 0 -6px;

  content: '';
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);

  border: solid #39ca74;
  border-width: 0 0 4px 4px;
}

.items-list-cb:checked ~ .items-list-mark {
  border-color: #39ca74;
}

.items-list-cb:checked ~ .items-list-mark:before {
  display: block;
}

.items-list-desc {
  font-size: 20px;
  font-weight: 700;

  color: #8a9a9b;
}
@media (max-width: 767px) {
  .items-list-desc {
    font-size: 14px;
  }
}


.items-list-cb:checked ~ .items-list-desc,
.items-list-desc.strike {
  text-decoration: line-through;

  color: #34bf6e;
}
.date {
  font-size: 10px;

  color: #ccc;
}
.red {
  opacity: .4;
  color: #900;
}
.margin-full-5 {
  margin: 5px;
}
.mt-10 {
  margin-top: 10px;
}

.total-price {
  font-size: 24px;

  float: right;

  margin-top: 8px;

  color: #4caf50;
}

.list-id {
  padding-left: 10px;

  color: #d0d0d0;
}

.unit-price span {
  color: #d0d0d0;
}

/* buttons */
.btn-info {
  height: 68px;
}
.btn-increase-quantity {
  margin-left: 10px;
  padding: 5px 7px;
}
.btn-decrease-quantity {
  padding: 5px 7px;
}
.btn-delete-item {
  margin-left: 10px;
}
.btn-edit-price {
  font-size: 12px;

  margin-left: 10px;
}
.btn-close-price {
  font-size: 12px;

  display: none;

  margin-left: 10px;
}

/* forms */
.form-change-price {
  display: none;
}
.form-add-price,
.form-change-price {
  width: 115px;
}
.form-add-price button,
.form-change-price button {
  height: 30px;
}

