<section id="list" class="items list">
	<header class="items-header">
		<h3>Lists</h3>
		<form class="form-inline" name="shopAddList">
			<div class="form-actions">
				<div class="input-group">

					<input type="text" class="form-control" ng-model="listInput" placeholder="Add New List" autofocus required />

					<div class="input-group-btn">
						<button class="btn btn-info" style="height:auto;" type="submit" ng-click="addList(listInput); listInput = null;" ng-disabled="shopAddList.$invalid">
							<i class="fa fa-plus"></i>&nbsp;List
						</button>
					</div>
				</div>
			</div>
		</form>
	</header>

	<fieldset class="items-list">
		<div class="items-list-item" ng-repeat="list in lists">

			<div ng-if="list.list_id != 1">
				<a ng-click="deleteList(list.list_id)" class="pull-right red btn-delete-item"><i class="fa fa-minus-circle"></i></a>
			</div>

			<button ng-click="changeList(list.list_id)" type="button" class="btn btn-sm btn-default btn-increase-quantity">
			{{list.name}}
			</button>
		</div>
	</fieldset>

</section>