<section class="items list">
	<header class="items-header">
		<h3>Saved Lists</h3>
		<form class="form-inline" name="shopAddList">
			<div class="form-actions">
				<div class="input-group">

					<input type="text" class="form-control" ng-model="listInput" placeholder="Add New Item" autofocus required />

					<div class="input-group-btn">
						<button class="btn btn-info" style="height:auto;" type="submit" ng-click="addList(listInput); listInput = null;" ng-disabled="shopAddList.$invalid">
							<i class="fa fa-plus"></i>&nbsp;Add
						</button>
					</div>
				</div>
			</div>
		</form>
	</header>

	<fieldset class="items-list">
		<div class="items-list-item" ng-repeat="list in lists">

		<a ng-click="deleteList(list.ID)" class="pull-right red btn-delete-item"><i class="fa fa-minus-circle"></i></a> 

		<button ng-click="changeList(list.ID)" type="button" class="btn btn-sm btn-default btn-increase-quantity">
		{{list.NAME}} - ID: {{list.ID}}
		<span class="date">[{{list.CREATED_AT | date:"MMM d"}}]</span></button>
		
	</fieldset>

</section>